#plantillas{
    display:none;
}

.baldosa{
    display:inline-block;
    margin-right: 5px;
}

.baldosa #contenedor_pixeles{
    width:630px;
    height:630px;
    position:relative;
}

#numero_baldosa{
    font-weight: bold;
}

.ui-widget-content #numero_baldosa{
    display:none;
}

.pixel{
    display: inline-block;
    border: 1px solid rgb(163, 163, 163);
    position: absolute;
    box-sizing: border-box;
    cursor:pointer;
}

.pixel:hover{
    border: 1px solid orange;
}

.pixeles_invisibles .pixel{
    border: 0px solid rgb(163, 163, 163);
}

.pixeles_invisibles #lbl_color{
    display:none;
}

.pixel #lbl_color{
    font-size: 70%;
    text-align: center;
}
#lbl_lado, #lbl_niveles_gris{
    width:30px;
    display: inline-block;
}

#controles{
}

#capa_baldosas{
    position:absolute;
    top: 63px;
}
#canvas_imagen_original {
    display: none;
}

#canvas_imagen_grande {
    margin-bottom: 40px;
}

#upload_image {
    display: block;
}
