#plantillas{
    display:none;
}

.baldosa{
    display:inline-block;
    margin:10px;
    border:2px solid black;
}
.baldosa #contenedor_pixeles{
    width:500px;
    height:500px;
}

.pixel{
    display:inline-block;
    border:1px solid black;
    position:relative;
    box-sizing:border-box;
}

.pixel #lbl_color{
    width: 100%;
    height: 100%;
}

#controles{
    display:inline-block;
}

#capa_baldosas{
    position:absolute;
}